*,
*::before,
*::after {
  color: white;
}
body {
  text-align: center;
  margin-top: 10%;
  background: linear-gradient(to right, blue, green);
}
input {
  color: black;
}
#list {
  display: flex;
  justify-content: center;
  max-width: 100px;
}
.cuttingElm {
  color: rgb(68, 198, 250);
  text-decoration: line-through;
}
